<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-title mode="ios">Scrollable</ion-title>
    <preferences slot="end"></preferences>
  </ion-toolbar>
</ion-header>
<super-tabs>
  <super-tabs-toolbar slot="top" scrollable>
    <super-tab-button *ngFor="let t of tabs">
      <ion-label>
        {{ t.label }}
      </ion-label>
    </super-tab-button>
  </super-tabs-toolbar>
  <super-tabs-container>
    <super-tab *ngFor="let t of tabs">
      <ion-content class="ion-padding">
        I'm {{ t.label }}
      </ion-content>
    </super-tab>
  </super-tabs-container>
</super-tabs>
