:host {
  --st-base-color-inactive: rgba(255,255,255,0.4);
  --st-base-color-active: var(--ion-color-secondary);
  --st-icon-color-active: var(--ion-color-secondary-tint);
  --st-indicator-color: var(--ion-color-secondary-tint);
}
