<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <super-tabs>
    <super-tabs-toolbar>
      <super-tab-button>
        <ion-label>Home</ion-label>
      </super-tab-button>
      <super-tab-button>
        <ion-label>Home</ion-label>
      </super-tab-button>
    </super-tabs-toolbar>
    <super-tabs-container>
      <super-tab>This is home 1</super-tab>
      <super-tab>This is home 2</super-tab>
    </super-tabs-container>
  </super-tabs>
</ion-content>
